:root {
  --main-blue: #2196f3;
  --text-color: #212121;
  --main-grey: #757575;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", "Raleway";
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0px auto;
  max-width: 767px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px 94px 0px;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-blue);
}

.logo--dark {
  color: var(--text-color);
}

.logo--light {
  color: #fff;
}

.hamburger {
  fill: var(--text-color);
  background-color: #fff;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
}

@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1200px;
    height: 80px;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  margin: 0px 23px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.navigation__link:hover {
  cursor: pointer;
  color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  position: relative;
  left: 0px;
  top: 0px;
}
.active-link::after {
  content: "";
  border-bottom: 4px solid var(--main-blue);
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  bottom: -32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .active-link::after {
    bottom: -22px;
  }
}
.contact {
  display: flex;
  justify-content: space-between;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 10px;
  color: var(--main-grey);
}
.contact__link:hover {
  fill: var(--main-blue);
  cursor: pointer;
  color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
    margin-right: 15px;
  }

  .contact__link {
    font-size: 12px;
  }
}
.footer {
  background: #2f303a;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  padding-top: 60px;
  text-align: center;
  flex-direction: column;
}

.contact-footer {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--main-grey);
  padding: 20px 0px 60px 0px;
}

.contact-footer__address {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}

.contact-footer__email {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer__email:hover {
  color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__tel {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer__tel:hover {
  color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact-footer {
    padding-bottom: 0px;
  }
}
.widget {
  width: 206px;
  height: 80px;
  margin: 0 auto 60px;
}

.widget__tittle {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.widget__list {
  display: flex;
  justify-content: space-between;
}

.widget__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  margin-top: 20px;
}
.widget__item:hover {
  background-color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .widget {
    margin-top: 10px;
    margin-left: 70px;
  }
}
.newsletter__tittle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.newsletter__form {
  display: block;
  text-align: center;
}

.newsletter__input {
  max-width: 358px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  margin-bottom: 20px;
}
.newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-newsletter {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: #fff;
  margin-left: 12px;
  border: none;
  cursor: pointer;
}

.btn-newsletter__icon {
  margin-left: 24px;
  position: relative;
  top: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
  }

  .newsletter__input {
    width: 450px;
  }

  .btn-newsletter {
    margin: 0px auto;
  }

  .newsletter__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    margin-top: 10px;
    margin-left: 77px;
  }

  .newsletter__form {
    display: flex;
  }
}
.banner {
  background-color: #2f303a;
  text-align: center;
  min-height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-mobile/baner480x400@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-mobile/baner480x400@1x.jpg);
  }
}
.banner__tittle {
  margin-bottom: 30px;
  padding-top: 60px;
  font-size: 26px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.banner__btn {
  background: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px;
}
.banner__btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner {
    min-height: 400px;
    min-width: 768px;
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-tablet/banner768x400@x1.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-tablet/banner768x400@x2.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner__tittle {
    font-size: 26px;
    line-height: 162%;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    min-height: 400px;
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-desktop/baner1600x600@x1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url(../imagines/banner-images/banner-desktop/baner1600x600@x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner__tittle {
    font-size: 26px;
    line-height: 162%;
  }
}
@media screen and (min-width: 1200px) {
  .banner__tittle {
    font-size: 44px;
    line-height: 136%;
  }
}
.lorem {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.lorem__item {
  margin-right: 15px;
  margin-left: 15px;
}

.lorem__icon {
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.lorem__tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.lorem__text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--main-grey);
  margin: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__item {
    width: 354px;
    display: flex;
  }

  .lorem__icon {
    width: 354px;
  }

  .lorem {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .lorem {
    display: flex;
    justify-content: center;
  }

  .lorem__icon {
    width: 270px;
  }

  .lorem__text {
    text-align: start;
  }

  .lorem__tittle {
    text-align: start;
  }
}
.heading-offer {
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.offer {
  display: flex;
  justify-content: center;
}

.offer__item {
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}

.offer__text {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.our-team {
  background: #f5f4fa;
}

.our-team__tittle {
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}

.team__item {
  margin: 0 auto;
}

.team__box {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 100%;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.team__profession {
  font-weight: 400;
  color: var(--main-grey);
  margin: 10px 0px 0px 0px;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px 32px 30px;
}

.social-media__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 0px 5px;
  fill: #afb1b8;
  border-radius: 50%;
}
.social-media__icon:hover {
  background-color: var(--main-blue);
  fill: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-direction: row;
    justify-content: center;
  }

  .team__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.tittle-customers {
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.customres__item {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 30px) / 2);
}
.customres__item:hover {
  fill: var(--main-blue);
  border-color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .customers {
    flex-wrap: nowrap;
  }
}
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 450px;
  height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
  padding-top: 1px;
}

.is-hidden .modal {
  transform: translate(100%);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__btn-close {
  fill: #000000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.form-contact {
  max-width: 370px;
  width: 100%;
  height: 555px;
  margin: 40px auto;
}

.form-contact__tittle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.form-contact__tittle:focus-within {
  fill: var(--main-blue);
  border-color: var(--main-blue);
}

.form-contact__tip {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-grey);
  margin-bottom: 4px;
  position: relative;
}

.form-contact__icon {
  position: absolute;
  margin: 14px 0px 0px 15px;
  z-index: 2;
}

.form-contact__input {
  width: 100%;
  max-width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.form-contact__input:focus {
  border-color: var(--main-blue);
}

.form-contact__placeholder {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}
.form-contact__placeholder::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.form-contact__btn {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.focus-color-modal {
  position: relative;
}
.focus-color-modal:focus-within {
  fill: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-blue);
}

.checbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid;
  position: relative;
  bottom: 10px;
}
.checbox:checked {
  background-color: var(--main-blue);
  background-image: url(../imagines/iconcheck.svg);
  border: none;
}

.checbox__regulations {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-grey);
  position: relative;
  left: 28px;
  bottom: 30px;
}

.checbox__reference {
  text-transform: capitalize;
  color: var(--main-blue);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .form-contact {
    width: 448px;
  }

  .checbox__regulations {
    font-size: 14px;
  }

  .form-contact__tittle {
    line-height: 23px;
    font-size: 19px;
    padding-bottom: 12px;
  }

  .form-contact__btn {
    bottom: 10px;
  }
}
.buttons-sort {
  display: flex;
  flex-wrap: wrap;
}

.button-sort__item {
  background-color: #f5f4fa;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: left;
  cursor: pointer;
  line-height: 1.6;
  margin: 0px 4px 15px;
  padding: 6px 22px;
}
.button-sort__item:hover {
  background: var(--main-blue);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons-sort {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-sort {
    justify-content: center;
  }
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: center;
  justify-content: center;
}

.product__item {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.product__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.product__specification {
  display: block;
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
  background-color: #fff;
}

.product__tittle {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.productparagraph {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--main-grey);
}

.overlay {
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(316px);
  padding-left: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.overlay__description {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  width: 301px;
  height: 196px;
  position: relative;
}

.product__item:hover .overlay {
  transform: translateY(0px);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidde-naw {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.hidde-offer {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hidde-naw {
    visibility: visible;
    display: flex;
    pointer-events: all;
  }

  .hidde-bnt {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hidde-bnt {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  .hidde-naw {
    visibility: visible;
    display: flex;
    pointer-events: all;
  }

  .hidde-offer {
    visibility: visible;
    display: flex;
    pointer-events: all;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 10px 15px 48px 40px;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__close-btn {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.mobile-menu__close-btn:hover {
  fill: var(--main-blue);
}

.mobile-nav {
  display: block;
}

.mobile-nav__item:nth-child(1) {
  margin-top: 38px;
}
.mobile-nav__item:nth-child(2) {
  margin-top: 36px;
  margin-bottom: 32px;
}
.mobile-nav__item:nth-child(3) {
  margin-bottom: 302px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mobile-nav__link:hover {
  color: var(--main-blue);
}

.mobile-nav__link--active {
  color: var(--main-blue);
}

.mobile-contact {
  display: block;
}

.mobile-contact__item {
  margin-bottom: 32px;
}

.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--main-blue);
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-grey);
}

.mobile-social-media {
  display: flex;
}

.mobile-social-media__item {
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-social-media__item:nth-child(2) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social-media__item:nth-child(3) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: var(--main-blue);
}/*# sourceMappingURL=main.css.map */