.lorem {
    display: flex;
    justify-content: space-between;
}

.lorem__item {
    margin-right: 15px;
    margin-left: 15px;
}

.lorem__icon {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.lorem__tittle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.lorem__text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    margin: 0px;
}