.lorem {
    display: block;
    margin: 0 auto;
}

.lorem__item {
    margin-right: 15px;
    margin-left: 15px;
}

.lorem__icon {
    background-color: #f5f4fa;
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.lorem__tittle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.lorem__text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    margin: 0px;
    text-align: center;
}
@media screen and (min-width:$tablet) and (max-width:1199px) {
    .lorem__item{
        width: 354px;
        display: flex;
    }
    .lorem__icon{
        width: 354px;
    }
    
    .lorem{
        display: flex;
        flex-wrap: wrap;
    }
    
}