.our-team {
    background: #f5f4fa;
}

.our-team__tittle {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
    display: flex;
    justify-content: space-between;
}

.team__item {
    margin-right: 15px;
    margin-left: 15px;
}

.team__box {
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;

}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
}


.team__profession {
    font-weight: 400;
    color: var(--main-grey);
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 32px 32px 30px;
}

.social-media__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 0px 5px;
    fill: #afb1b8;
    border-radius: 50%;


&:hover {
    background-color: var(--main-blue);
    fill: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}