.buttons-sort {
    display: flex;
    justify-content: center;
}

.button-sort__item {
    background-color: #f5f4fa;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: left;
    cursor: pointer;
    line-height: 1.6;
    margin: 0px 4px;
    padding: 6px 22px;


&:hover {
    background: var(--main-blue);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}