.product {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
}

.product__item {
    background: #fff;
    position: relative;
    overflow: hidden;


&:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
}
.product__specification {
    display: block;
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    position: relative;
    background-color: #fff;
}



.product__tittle {
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--text-color);
    margin-bottom: 4px;
}

.productparagraph {
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 00.03em;
    color: var(--main-grey);
}

.overlay {
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(305px);
}

.overlay__description {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    width: 301px;
    height: 196px;
    position: absolute;
    top: 49px;
    left: 24px;

}
.product__item:hover .overlay {
    transform: translateY(0px);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
