.contact {
  display: flex;
  justify-content: space-between;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 10px;
  color: var(--main-grey);

&:hover {
  fill: var(--main-blue);
  cursor: pointer;
  color: var(--main-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.contact__icon {
  margin-right: 10px;
}