.footer {
    background: #2f303a;
    height: 252px;

    padding-bottom: 60px;
}

.footer__list {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.contact-footer {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    padding: 20px 0px 0px 0px;
}

.contact-footer__address {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 9px;
}

.contact-footer__email {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


&:hover {
    color: var(--main-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.contact-footer__tel {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


&:hover {
    color: var(--main-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}