.page-header {
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
}
@media screen and (min-width:$desktop) {
    .page-header{
        max-width: 1200px;
        height: 80px;
    }
}