*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", "Raleway";
    color: var(--text-color);
}

a {
    text-decoration: none;
}