.hidde-naw{
    visibility: hidden;
    pointer-events: none;
    display: none;
}
.hidde-offer {
    visibility: hidden;
    pointer-events: none;
    display: none;
}

@media screen and (min-width:$tablet) and (max-width:1199px) {
    .hidde-naw{
        visibility: visible;
        display: flex;
        pointer-events: all;
    }
.hidde-bnt{
    visibility: hidden;
    pointer-events: none;
    display: none;
}
}
@media screen and (min-width:$desktop) {
    .hidde-bnt {
            visibility: hidden;
            pointer-events: none;
            display: none;
        }
        .hidde-naw {
            visibility: visible;
            display: flex;
            pointer-events: all;
        }
                .hidde-offer {
                    visibility: visible;
                    display: flex;
                    pointer-events: all;
                }


}