.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, visibility, opacity;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 581px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, visibility, opacity;
}

.is-hidden .modal {
    transform: translate(100%);
}